<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="css/app.css">
    <script type="text/javascript" src="js/underscore.js"></script>
    <script type="text/javascript" src="js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="js/backbone.js"></script>
    
    <title>Backbone.js</title>
</head>

<body>
   <div id="app" class="container">
       <div class="wrapper">
           <h1>Backbone.js Playground</h1>
       </div>

       <div class="row mb-2">
           <div class="col-lg-4 form-inline">
               <div class="form-group mr-2">
                   <input type="text" name="title" class="form-control">
                   <button type="submit" class="btn btn-primary ml-2">追加する</button>
               </div>
           </div>
       </div>
   </div>

   <script type="text/template" id="list-template">
        <ul id="product-list">
        </ul>
        <p>合計: <span id="sum_quantity">0</span></p>
   </script>
   <script type="text/template" id="li-template">
        <%= name %> - 
        <span class="quantity"><%= quantity %></span>
        <div class="btn-group" role="group">
            <button class="inc-quantity btn btn-xs btn-default">
                <i class="fas fa-plus-circle"></i>
            </button>
            <button class="dec-quantity btn btn-xs btn-default">
                <i class="fas fa-minus-circle"></i>
            </button>
        </div>
        <button class="destroy btn btn-sm btn-danger">削除</button>
   </script>


    <script type="text/javascript" src="js/list.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var testView = new app.MyView();
        });
    </script>
</body>
</html>
